name: ci

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'
      - run: go mod tidy
      - run: go test ./...
      - run: go vet ./...
